<br/>
<br/>

<b> <i>select the action what you want to do:: </i></b>
<br/>
<br/>
<br/>

  |||||| <b> <a href="/add/1">add</a> | <a href="/pending">pending</a> | <a href="/mark_done">mark_done</a> | <a href="/completed">mark as completed</a> | <a href="/delete">delete</a>  </b> |||||| <br/>


<br/>
</end>
