<html>
<head>Enter the new task</head>
<title>Adding</title>
<body>
<form>
 <input type=text name="task">
 <input type=submit name ="complete" value="complete">
 <input type=button name ="back" value="back" onclick="location.href='todo.html';">  
</form>
</body>
</html>
