<br />
<br />
<form method="post" action="/createdb">
<input type="text" name="database">
<input type="submit" value ="newdatabase">


</form>	


	



<a href="/show_databases">click here to see the databases</a>

