<h1>databases are</h1>
<ol> 
<%@tasks.each do |database| %>


<%=database["Database"] %> 

 <a href='/show_tables?database=<%=database["Database"]%>'>show_tables</a> <br/>
<% end %>
<br />
<br />

</ol>
<i> <b> <a href="/createdb">create new database</a> | <a href="/deletedb">delete a database</a> </b></i>
<br/>

<br/>
<a href='/home'>click here to go back to home page</a>
